<main class="main-container">
  <header class="header-container">
    <a href="https://github.com/YanParoni">
    <img class="logo" src="assets/git.svg" />
    </a>
    <span class="text-container" [class]="showCarousel ? 'roboto-900' : 'sarabun-200'" (click)="toggleComponent()">Carousel</span>
    <span class="text-container" [class]="showCarousel ? 'sarabun-200' : 'roboto-900'" >/</span>
    <span class="text-container" [class]="showCarousel ? 'sarabun-200' : 'roboto-900'" (click)="toggleComponent()">Gallery</span>
    <app-switch [isSwitched]="showCarousel" (toggleSwitch)="toggleComponent()"></app-switch>
  </header>
  <ng-container *ngIf="showCarousel; else showGallery" class="fade">
    <app-carousel></app-carousel>
  </ng-container>
  <ng-template #showGallery class="fade">
    <app-gallery></app-gallery>
  </ng-template>
</main>
